.border {
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    width: 500px;
    height: 360px;
    border: 2px double black;
}
table, td, th, tr {
    border: 2px double black;
    background-color: lightblue;
    margin: 0 auto;
    width: 300px;
    font-style: oblique;
    text-align: center;
}
h1, h2 {
    text-align: center;
    font-style: oblique;
}
/*h1 {
    text-align: center;
    font-style: oblique;
}*/